<html ng-app="App">
<head>
    <script type="text/javascript" src="build/app.js"></script>
    <link rel="stylesheet" href="build/app.css"/>
</head>
<body ng-controller="Ctrl">
    <div class="templates" ng-show="userImages && userImages.length">

        <h1>
            Yee-haa!
        </h1>
        <h2>
            Now you can select a template:
        </h2>

        <div class="item {{template.className}} {{selectedTemplate == template ? 'selected' : ''}}" ng-repeat="template in templates" ng-click="selectTemplate(template)">
            <link rel="stylesheet" ng-href="{{template.stylesUrl}}"/>
            <img ng-src="{{template.imageUrl}}" alt=""/>

            <div class="user-images">
                <div class="n{{$index+1}}" ng-repeat="image in userImages">
                    <img ng-src="{{image.url}}"/>
                </div>
            </div>
        </div>
    </div>

    <div class="drop-area" ng-show="!userImages || !userImages.length">
        <h1>
            Paste your image files here
        </h1>

        using ctrl-v
    </div>
    <images-loader add-image="addUserImage(data, name)"></images-loader>
</body>
</html>